 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("images/CR898_ESPA_0617_FB-1.jpg.webp");
  background-position: 95.67% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 446px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 417px;
  background-image: none;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 15px 18px 15px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 33px 14px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Acme;
  line-height: 1.1;
  margin: 0 14px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 17px 14px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  margin: 17px auto 0 14px;
  padding: 10px 43px 10px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-group-1 {
    width: 526px;
    min-height: 387px;
    margin-top: 24px;
    margin-right: 0;
    margin-bottom: 24px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 114px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-group-1 {
    min-height: 315px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 134px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-group-1 {
    min-height: 249px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 8px;
    margin-right: 111px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-group-1 {
    min-height: 287px;
    margin-top: 27px;
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 8px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 5px;
    margin-left: auto;
    padding: 2px 8px 3px 7px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1193px;
}

.u-section-2 .u-image-1 {
  height: 315px;
  margin: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1109px;
  margin: -291px auto 51px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1118px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 38px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 4px 550px 0 2px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 13px 2px 0;
}

.u-section-2 .u-list-1 {
  margin: 13px 2px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 405px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  width: 69px;
  height: 69px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 23px auto 0 21px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -86px 13px 0 439px;
}

.u-section-2 .u-line-1 {
  width: 437px;
  transform-origin: left center 0px;
  margin: 3px 4px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  background-image: none;
  font-style: italic;
  margin: 5px 13px 0 305px;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  width: 69px;
  height: 69px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 23px auto 0 21px;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -86px 13px 0 439px;
}

.u-section-2 .u-line-2 {
  width: 437px;
  transform-origin: left center 0px;
  margin: 3px 4px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  background-image: none;
  font-style: italic;
  margin: 5px 13px 0 305px;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  width: 69px;
  height: 69px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 23px auto 0 21px;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -86px 13px 0 439px;
}

.u-section-2 .u-line-3 {
  width: 437px;
  transform-origin: left center 0px;
  margin: 3px 4px 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  background-image: none;
  font-style: italic;
  margin: 5px 13px 0 305px;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-icon-4 {
  width: 69px;
  height: 69px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 23px auto 0 21px;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -86px 13px 0 439px;
}

.u-section-2 .u-line-4 {
  width: 437px;
  transform-origin: left center 0px;
  margin: 3px 4px 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  background-image: none;
  font-style: italic;
  margin: 5px 13px 0 305px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px 62px 0 0;
}

.u-section-2 .u-form-1 {
  height: 399px;
  margin: 21px 2px 0;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1306px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -269px;
    margin-bottom: 46px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1214px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 36px;
    padding-right: 36px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 37px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -67px;
    margin-right: 14px;
    margin-left: 310px;
  }

  .u-section-2 .u-line-1 {
    width: 417px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 14px;
    margin-left: 142px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 37px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -67px;
    margin-right: 14px;
    margin-left: 310px;
  }

  .u-section-2 .u-line-2 {
    transform-origin: right center 0px;
    width: 417px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 14px;
    margin-left: 142px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 37px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -67px;
    margin-right: 14px;
    margin-left: 310px;
  }

  .u-section-2 .u-line-3 {
    width: 417px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 14px;
    margin-left: 142px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 37px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -67px;
    margin-right: 14px;
    margin-left: 310px;
  }

  .u-section-2 .u-line-4 {
    width: 417px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 14px;
    margin-left: 142px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-2 {
    border-style: solid;
    width: 100%;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1175px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -293px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1153px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 9px 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: 52px;
    margin-left: 40px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-right: 8px;
    margin-left: 18px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 25px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -81px;
    margin-right: 9px;
    margin-left: 267px;
  }

  .u-section-2 .u-line-1 {
    width: 295px;
    transform-origin: right center 0px;
    margin-top: 16px;
    margin-right: 3px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 4px;
    margin-right: 18px;
    margin-left: 276px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 25px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -81px;
    margin-right: 9px;
    margin-left: 267px;
  }

  .u-section-2 .u-line-2 {
    width: 295px;
    margin-top: 16px;
    margin-right: 3px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 4px;
    margin-right: 18px;
    margin-left: 276px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 25px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -81px;
    margin-right: 9px;
    margin-left: 267px;
  }

  .u-section-2 .u-line-3 {
    width: 295px;
    margin-top: 16px;
    margin-right: 3px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 4px;
    margin-right: 18px;
    margin-left: 276px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 25px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -81px;
    margin-right: 9px;
    margin-left: 267px;
  }

  .u-section-2 .u-line-4 {
    width: 295px;
    margin-top: 16px;
    margin-right: 3px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 4px;
    margin-right: 18px;
    margin-left: 276px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 7px;
    margin-right: 23px;
    margin-left: 11px;
  }

  .u-section-2 .u-form-1 {
    height: 395px;
    width: 694px;
    margin-top: 15px;
    margin-right: 8px;
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1388px;
  }

  .u-section-2 .u-image-1 {
    height: 852px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 528px;
    margin-top: -842px;
    margin-bottom: 24px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1354px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 19px 17px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 158px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 536px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 30px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -79px;
    margin-right: 13px;
    margin-left: 302px;
  }

  .u-section-2 .u-line-1 {
    width: 383px;
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 134px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 30px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -79px;
    margin-right: 13px;
    margin-left: 302px;
  }

  .u-section-2 .u-line-2 {
    width: 383px;
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: 134px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 30px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -79px;
    margin-right: 13px;
    margin-left: 302px;
  }

  .u-section-2 .u-line-3 {
    width: 383px;
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-left: 134px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 30px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -79px;
    margin-right: 13px;
    margin-left: 302px;
  }

  .u-section-2 .u-line-4 {
    width: 383px;
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-left: 134px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 56px;
    margin-right: 56px;
    margin-left: 14px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1450px;
  }

  .u-section-2 .u-image-1 {
    height: 933px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -933px;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1410px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 232px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 17px 17px;
    min-height: 718px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-1 {
    width: 49px;
    height: 49px;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: 225px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-1 {
    width: 205px;
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 327px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-2 {
    width: 49px;
    height: 49px;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: 225px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-2 {
    width: 205px;
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    width: 327px;
    margin: 8px auto -3px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-3 {
    width: 49px;
    height: 49px;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    width: 225px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-3 {
    width: 205px;
    transform-origin: right center 0px;
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    width: 327px;
    margin: 8px auto -3px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-4 {
    width: 49px;
    height: 49px;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    width: 225px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-4 {
    width: 205px;
    transform-origin: right center 0px;
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-2 .u-text-10 {
    width: 327px;
    margin: 8px auto -3px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before,
.u-section-2 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-2,
.u-section-2 .u-icon-2:before,
.u-section-2 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before,
.u-section-2 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-4,
.u-section-2 .u-icon-4:before,
.u-section-2 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-11,
.u-section-2 .u-text-11:before,
.u-section-2 .u-text-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-11.u-text-11.u-text-11:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-11 {
  border-color: transparent !important;
}

.u-section-2 .u-text-11.u-text-11.u-text-11.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-11 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 246px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 27px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 192px;
}

.u-section-3 .u-container-layout-1 {
  padding: 11px 20px 11px 0;
}

.u-section-3 .u-image-1 {
  width: 170px;
  height: 169px;
  object-position: 50% 7.96%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 192px;
}

.u-section-3 .u-container-layout-2 {
  padding: 5px 23px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 43px auto 0 8px;
}

.u-section-3 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 10px auto 0 301px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 134px;
  }

  .u-section-3 .u-image-1 {
    width: 102px;
    height: 102px;
    margin-top: 5px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 134px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -8px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin: 8px 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 150px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 87px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-top: 2px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 85px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 105px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -8px;
  }
}