 .u-section-1 {
  min-height: 1686px;
}

.u-section-1 .u-group-1 {
  min-height: 101px;
  background-image: none;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  width: 246px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  margin: 17px 43px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 469px;
  margin: 13px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1425px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-accordion-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: normal;
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 31px;
  width: 31px;
}

.u-section-1 .u-accordion-pane-1 {
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
  min-height: 773px;
}

.u-section-1 .u-container-layout-3 {
  padding: 13px 30px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 17px auto 0 0;
}

.u-section-1 .u-text-5 {
  line-height: 1.6;
  font-size: 1.125rem;
  margin: -42px 20px 0 auto;
}

.u-section-1 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: normal;
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 31px;
  width: 31px;
}

.u-section-1 .u-accordion-pane-2 {
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
  min-height: 259px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 17px;
}

.u-section-1 .u-text-6 {
  line-height: 1.6;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: normal;
  text-transform: none;
  margin: 19px auto 0 0;
  padding: 10px 5px 11px 3px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-item-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: normal;
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 31px;
  width: 31px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 200px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0;
}

.u-section-1 .u-accordion-item-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: normal;
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 31px;
  width: 31px;
}

.u-section-1 .u-accordion-pane-4 {
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
  min-height: 220px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 16px;
}

.u-section-1 .u-text-8 {
  margin: 0 14px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-accordion-item-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: normal;
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  height: 31px;
  width: 31px;
}

.u-section-1 .u-accordion-pane-5 {
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 16px 18px;
}

.u-section-1 .u-text-9 {
  margin: 0 0 0 14px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
}

.u-section-1 .u-accordion-item-6 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: normal;
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  height: 31px;
  width: 31px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 198px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 16px;
}

.u-section-1 .u-text-10 {
  margin: 0 0 0 14px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: normal;
  text-transform: none;
  margin: 22px auto 0;
}

.u-section-1 .u-accordion-item-7 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-accordion-link-7 {
  background-image: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: normal;
  padding: 30px;
}

.u-section-1 .u-icon-7 {
  height: 31px;
  width: 31px;
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 198px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-1 .u-text-11 {
  margin: 4px 56px 0 13px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px 56px 0 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 62px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-3 {
    width: 461px;
    margin-top: 8px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1175px;
  }

  .u-section-1 .u-icon-1 {
    padding: 4px;
  }

  .u-section-1 .u-accordion-pane-1 {
    min-height: 200px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    padding: 4px;
  }

  .u-section-1 .u-accordion-pane-2 {
    min-height: 238px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -47px;
    margin-right: auto;
    margin-left: 22px;
  }

  .u-section-1 .u-icon-3 {
    padding: 4px;
  }

  .u-section-1 .u-icon-4 {
    padding: 4px;
  }

  .u-section-1 .u-accordion-pane-4 {
    min-height: 200px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 182px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: auto;
  }

  .u-section-1 .u-icon-5 {
    padding: 4px;
  }

  .u-section-1 .u-accordion-pane-5 {
    min-height: 210px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    margin: 12px auto 0 0;
  }

  .u-section-1 .u-icon-6 {
    padding: 4px;
  }

  .u-section-1 .u-accordion-pane-6 {
    min-height: 200px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    letter-spacing: 1px;
    border-style: none;
    text-transform: uppercase;
  }

  .u-section-1 .u-icon-7 {
    padding: 4px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 14px;
    margin-right: auto;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-group-1 {
    min-height: 43px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 9px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 9px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 850px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1034px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 8px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-group-1 {
    min-height: 48px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-1 {
    width: 187px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 746px;
    order: 1;
  }

  .u-section-1 .u-accordion-pane-1 {
    min-height: 96px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-accordion-pane-2 {
    min-height: 96px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 17px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
    margin-left: 24px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 24px;
  }

  .u-section-1 .u-accordion-pane-3 {
    min-height: 96px;
  }

  .u-section-1 .u-accordion-pane-4 {
    min-height: 96px;
  }

  .u-section-1 .u-accordion-pane-5 {
    min-height: 96px;
  }

  .u-section-1 .u-accordion-pane-6 {
    min-height: 96px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 18px;
    margin-left: 14px;
  }
} .u-section-2 {
  min-height: 547px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  background-image: url("/images/erctrtu.png");
  background-position: 0% 50%;
  min-height: 547px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-shape-1 {
  width: 116px;
  height: 142px;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 547px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 60px 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 80px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 233px;
  min-width: 191px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 48px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-image-2 {
  min-height: 547px;
  background-image: url("/images/erctrtu.png");
  background-position: 100% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 60px 30px 60px 0;
}

.u-section-2 .u-shape-2 {
  width: 116px;
  height: 142px;
  background-image: none;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 507px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-image-1 {
    min-height: 505px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-2 .u-image-2 {
    min-height: 505px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 445px;
  }

  .u-section-2 .u-image-1 {
    min-height: 445px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 821px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 477px;
  }

  .u-section-2 .u-image-1 {
    min-height: 202px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 26px;
  }

  .u-section-2 .u-image-2 {
    min-height: 616px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 407px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 205px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 6px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 6px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 6px;
  }

  .u-section-2 .u-image-2 {
    min-height: 388px;
  }
}

.u-section-2 .u-social-icons-1,
.u-section-2 .u-social-icons-1:before,
.u-section-2 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}