.u-section-1 .u-sheet-1 {
  min-height: 1452px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 50px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 891px;
  font-weight: normal;
  margin: 11px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1315px;
  margin: 19px -88px 32px;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 391px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-1 .u-image-1 {
  width: 205px;
  height: 205px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -40px auto 0 15px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 28px 15px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 391px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 250px;
  height: 95px;
  margin: 0 auto 0 9px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 52px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: normal;
  font-size: 1.125rem;
  margin: 14px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 391px;
}

.u-section-1 .u-container-layout-3 {
  padding: 22px 15px;
}

.u-section-1 .u-image-3 {
  width: 95px;
  height: 153px;
  margin: 0 auto 0 31px;
}

.u-section-1 .u-text-7 {
  line-height: 1.2;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0 15px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-weight: normal;
  margin: 15px 15px 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("/images/sdefvred.png");
  background-position: 50% 50%;
  min-height: 431px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  background-image: none;
  min-height: 433px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  background-image: none;
  min-height: 433px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 15px;
}

.u-section-1 .u-image-5 {
  height: 125px;
  width: 313px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0 15px;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  font-weight: normal;
  margin: 38px 12px 0;
}

.u-section-1 .u-layout-cell-7 {
  background-image: none;
  min-height: 433px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 215px;
  height: 172px;
  margin: -13px auto 0 -28px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -16px 15px 0 25px;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1360px;
  }

  .u-section-1 .u-text-1 {
    width: 543px;
    margin-top: 31px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 57px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-image-2 {
    width: 247px;
    height: 94px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 16px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 416px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 19px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-image-4 {
    min-height: 308px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 309px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 461px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-image-5 {
    height: 111px;
    width: 277px;
    margin-top: 28px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 24px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 309px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 3px;
    margin-left: -36px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -8px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1400px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    font-weight: 700;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 764px;
    margin: 9px -22px 29px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 128px;
    height: 167px;
    margin-top: -9px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -7px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-weight: 700;
    margin-top: 34px;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 19px 0;
  }

  .u-section-1 .u-image-2 {
    width: 203px;
    height: 76px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 37px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-6 {
    font-weight: 700;
    font-size: 1rem;
    margin-top: 56px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 8px;
  }

  .u-section-1 .u-image-3 {
    width: 86px;
    height: 121px;
    margin-top: 19px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    font-weight: 700;
    margin-top: 12px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    min-height: 285px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 81px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 91px;
    width: 234px;
    margin-top: 47px;
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 0;
    margin-left: 7px;
  }

  .u-section-1 .u-text-10 {
    font-weight: 700;
    margin-top: 12px;
    margin-right: 17px;
    margin-left: 7px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 517px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -17px;
    margin-left: -42px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -18px;
    margin-right: 16px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-12 {
    font-weight: 700;
    margin-top: 1px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1865px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 614px;
    margin-left: -37px;
    margin-right: -37px;
    margin-bottom: 19px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 7px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 7px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 9px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 7px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 35px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 269px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -9px;
    margin-right: 37px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 9px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-image-4 {
    min-height: 162px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 1056px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 257px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 20px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 8px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 319px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -24px;
    margin-left: -35px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -2px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1809px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: -29px;
    margin-right: -29px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 4px;
    margin-left: -29px;
    margin-right: -29px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 398px;
    margin: 16px -29px 22px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -36px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-1 .u-image-2 {
    width: 249px;
    height: 94px;
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 311px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 21px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 5px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-image-4 {
    min-height: 86px;
    background-position: 50% 42.1%;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 585px;
    order: 2;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 283px;
    order: 1;
  }

  .u-section-1 .u-image-5 {
    height: 96px;
    width: 240px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.875rem;
    margin-top: 8px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 359px;
    order: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: -18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: -8px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-left: 17px;
    margin-right: 17px;
  }
}